html {
  text-align: center;
  font-family: helvetica;
}
header {
  background-image: url(../images/the-flatiron-building.png);
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.list {
  font-size: 18px;
  color: white;
}
ul {
  list-style-type: none;
}
#about {
  font-size: 32px;
  font-weight: bold;
}
.content {
  font-size: 23px;
  font-weight: bold;
}
.detail {
  font-size: 14px;
}
#york {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(../images/the-flatiron-building.png);
}
.contact {
  font-size: 12px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
